<?xml version="1.0" encoding="UTF-8"?>
<included>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="stdout_json" class="no.nav.modialogin.common.logging.MaskingAppender">
        <appender name="stdout_json_masked" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="stdout_json"/>
    </root>
</included>
